

#btn
{
    transition: all 1s;
}


#pb
{
    transition: all 1s;
}

#imgb
{
    transition: all 1s;
    visibility: hidden;
}

#btn:hover ,#imgb:hover
{
    background-color: red;
    visibility: visible;
}